{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div>
        <h1>Blog</h1>
        <ul>
            {% for article in articles %}
                <li>
                    <h3>{{ article.title }}</h3>
                    <p>{{ article.content }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
